{% load static %}
<html>
	<head>
		<title>Zirui's Blog</title>
		<link rel="stylesheet" rel='stylesheet' href="{% static 'css/introduction.css' %}">
		<script type="text/javascript" src="{% static 'javascript/backButton.js' %}"></script>
	</head>
	
	<body>
		<div class="leftBar">

			<div class="introName">
				<h1>{{details.name}}</h1>
			</div>
			
			<div class="introPhoto">
				<img src="{% static 'images/myPhoto.JPG' %}"/>
			</div>
			
			<div class="leftBarTitle">
				<h3>Phone</h3>
			</div>
			<div class="phone">
				<p>{{details.phone1}}</p>
			</div>
			{% if details.phone != None %}
			<div class="phone">
				<p>{{details.phone2}}</p>
			</div>
			{% endif %}
			
			<div class="leftBarTitle">
				<h3>Email</h3>
			</div>
			<div class="email">
				<p>{{details.email}}</p>
			</div>
			
			<div class="leftBarTitle">
				<h3>Address</h3>
			</div>
			<div class="address">
				{% if details.address != None %}
				<p>{{details.address}},</p>
				{% endif %}
				{% if details.city != None %}
				<p>{{details.city}},</p>
				{% endif %}
				{% if details.country != None %}
				<p>{{details.country}}</p>
				{% endif %}
			</div>
			
			<div class="icons">
				<span class="githubIcon">
					<a href="https://github.com/ziruiwang333" target="_blank"><img src="{% static 'images/githubIcon.png' %}"/></a>
				</span>
				
				<span class="facebookIcon">
					<a href="https://www.facebook.com/zirui.wang.79827/" target="_blank"><img src="{% static 'images/facebookIcon.png' %}"/></a>
				</span>
			</div>

		</div>
		
		<div class="introContent">
			<!-- introEducation -->
			
			<div class="introEducation">
				<div class="education">Education</div>
				{% for education in educations %}
				<div class = "">
					<div class="introUniversity">{{ education.university }} <span class="introUniTime">{{education.start_date}}-{{education.end_date}}</span></div>
					<div class="intro">College: <span class="introDetail">{{education.college}}</span></div>
					<div class="intro">Degree: <span class="introDetail">{{education.degree}}</span></div>
					<div class="intro">Major: <span class="introDetail">{{education.major}}</span></div>
					{% if education.university == 'University of Birmingham' %}
					<div class="uobintroCourses">
						<div class="courses">Courses</div>

						
						{% for i in uob %}
						<div class="year_courses">
							<div class="yearNumber">Year {{ forloop.counter }}</div>
							{% for c in i %}
							<div class="">{{ c }}</div>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
					{% endif %}

					{% if education.university == 'The University of Manchester' %}
					<div class="uomintroCourses">
						<div class="courses">Courses</div>
						
						{% for i in uom %}
						<div class="year_courses">
							<div class="yearNumber">Year {{ forloop.counter }}</div>
							{% for c in i %}
							<div class="">{{ c }}</div>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
					{% endif %}

				</div>
				{% endfor %}
			</div>
			
			<!-- -->
			<div class="introWorkExperience">
				<div class="workExperience">Work Experience</div>
				{% for workExp in work_experience %}
				<div class="company">{{workExp.company_name}} <span class="workTime">{{workExp.start_date}}-{{workExp.end_date}}</span></div>
				<div class="jobTitle">{{workExp.job_title}}</div>
				<div class="jobOneDetail">{{workExp.job_describe|linebreaksbr}}</div>
				{% endfor %}
			</div>

			
			<!-- -->
			<div class="introPersonalStatement">
				<div class="personalStatement">Personal Statement</div>
				<div class="statementDeatil">{{details.introduction|linebreaksbr}}</div>
			</div>
		</div>
		
		<button type="button" class="backButton" onclick="back()">Back</button>
		
	</body>
</html>